h1{
    background-color: aqua;
    text-align: center;
   }
   
   
   h2{
       background-color:aquamarine;
       text-align: center;
      }
   
   h3{
       background-color:bisque;
       text-align: center;
      }   
   pre {
     border: 3px solid rgb(167, 224, 53);
     text-align: center;
   
   
   }
   
   ul {
     font-style: italic;
     border-style: dotted ;
     border-color: blue;
     list-style-type: square;
   
   }
   ol {
     font-style: initial;
     border-style: dotted;
     border-color: darkgoldenrod;
   
   }
   .ngom{
     color:red;
   }
   
   p{ 
       font-style: normal;
       font-size: large;
       text-decoration: underline ;
   
   }
   
   dt {
   
       color:blue;
       font-weight: 200;
   }
   dd{
       background-color: cornflowerblue;
   }
   